.shradhanjali_img_inffo {
    align-items: start !important;
}

#description {
    height: 100%;
    width: 95%;
    text-wrap: wrap;
    word-wrap: break-word;
    text-align: center;
}

#full-name {
    margin-bottom: 3%;
}

.main-body {
    align-items: center;
}

.d-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

#full-name {
    font-weight: bold;
    margin: 10% 0;
}