* {
  margin: 0;
  padding: 0;
  user-select: text;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Gujarati', 'Montserrat' !important;
  background: #F5F5F5;
}

header {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 13px 1px rgb(0 0 0 / 9%);
}

header a {
  background-color: #fff;
  padding: 5px 10px;
}

header a img {
  transition: 0.5s all;
}

header a .inspirefox:hover {
  transform: scale(0.8);
}

.sec-lang {
  background: #EEEEEE;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  margin-top: 100px;
  text-align: center;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px 30px;
}

input {
  outline: none;
  height: 42px;
  border: 0;
  border-radius: 7px;
  width: 90%;
  margin-bottom: 10px;
  padding: 0px 10px;
}

textarea {
  resize: vertical;
  outline: none;
  border: none;
  margin-bottom: 10px;
  padding: 12px 20px;
}

.lang-btns, .typ-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  gap: 8px;
}

.lang-btns a {
  background: #fff;
  box-shadow: 0px 3px 9px 2px #00000012;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 5px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: 0.3s all;
}

.lang-btns a:hover {
  background: #F0451F;
  color: #fff;
}

.typ-btns a {
  background: #fff;
  box-shadow: 0px 3px 9px 2px #00000012;
  padding: 15px 30px;
  border-radius: 7px;
  margin: 5px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: 0.3s all;
  flex-basis: 30%;
}

.typ-btns a:hover {
  background: #F0451F;
  color: #fff;
}

.back {
  display: flex;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  max-width: max-content;
  margin: 0 auto 15px;
  padding: 15px;
  box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
  text-wrap: nowrap;
}

.back img {
  background: #000;
  padding: 8px;
  height: 15px;
  border-radius: 7px;
  margin-right: 10px;
}

footer {
  background: #fff;
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 1rem;
}

footer a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  vertical-align: middle;
  display: flex;
}

/* ============================================
 sec-design
 ================================================*/
.sec-design {
  max-width: 1350px;
  margin: 100px auto;
  padding: 10px 20px;
}

.sec-design .file_div {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0 0 10px 0;
  border-radius: 10px;
}

.d_flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

label {
  font-weight: 600;
  font-size: 1.5rem;
  display: block;
  margin: 1rem 0rem;
  margin-left: 5px;
}

.sec-design .shradhanjali_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 44%;
}

.sec-design .shradhanjali_img_inffo {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 50px;
}

.sec-design .design_edit {
  display: flex;
  gap: 10px;
}

.sec-design .img_size {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  max-width: 92px;
  height: auto;
}

.sec-design .img_size img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.design-view {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.sec-design .design-view img {
  width: 100%;
  height: 100%;
}

.sec-design .shradhanjali_inffo {
  width: 100%;

}

.sec-design .select_option .font_size {
  font-size: 16px;
}

.sec-design .date_time_class {
  display: flex;
  gap: 20px;
}

.sec-design .date {
  width: 40%;
}

.sec-design .time {
  width: 20%;
}

.sec-design .select_option {
  width: 20%;
}

.sec-design .age {
  width: 20%;
}

/* ===== fome online */
input[type=text], input[type=date], input[type=time], input[type=number], input[type='tel'], input[type='datetime-local'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #cccccc00;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
  font-family: "Montserrat";
}

input::placeholder {
  color: gray;
  font-family: "Montserrat";
}

input[type=button] {
  transition: all 200ms ease-in-out;
  width: 100%;
  background-color: #04aa6d04;
  color: #6C6C6C;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px dashed #6C6C6C;
  transition: 0.2s all lineary;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 1rem;
}

input[type=button]:hover {
  background-color: #363535;
  color: white;
}

.sec-design textarea {
  width: 100%;
  margin: 8px 0;
  display: block;
  font-size: 13px;
  font-family: 'Montserrat';
  border: 1px solid #cccccc00;
  border-radius: 10px !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
}

textarea {
  font-weight: 500;
  font-size: 1rem !important;
}

.sec-design textarea::placeholder {
  color: black !important;
  font-family: 'Montserrat';
}

div.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

.sec-design .upload_file {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
}

.sec-design .d_flex {
  display: flex;
  gap: 20px;
}

.sec-design .input_text {
  width: 40%;
}

.sec-design .input_text_02 {
  width: 25%;
}

.sec-design .select {
  margin: 8px 0;
  display: block;
  border-radius: 10px !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("../assets/icons/select_icon.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 18px;
  border: 1px solid #dfdfdf;
  background-color: white;
  border-radius: 2px;
  padding-left: 1rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  min-height: 45px;
  outline: none;
}

.sec-design .d_flex_padding {
  padding: 25px 0 0 0;
  margin: 25px 0 0 0;
  border-top: 1px solid #686868;
}

.sec-design .text_name {
  width: 60%;
}

.sec-design .mobileno {
  width: 40%;
}

.sec-design textarea {
  width: 100%;
}

.sec-design #download_img {
  background-color: #F0451F;
  color: white;
  padding: 12px 30px;
  height: 45px;
  border-radius: 5px;
  border: none;
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  gap: 10px;
  justify-items: center;
  font-family: 'Montserrat';
  font-weight: 500;
}

#download_img {
  border-radius: 10px !important;
}

.sec-design .img_icone_download {
  width: 18px;
  height: 16px;
}

@media(max-width:1400px) {
  .sec-design {
    max-width: 1200px;
  }
}

@media(max-width:992px) {
  .sec-design .shradhanjali_img_inffo {
    flex-direction: column;
  }

  .sec-design .d_flex {
    display: block;
    /* width: 100%; */
  }

  .sec-design .shradhanjali_img {
    width: 100%;
  }

  .sec-design {
    margin: 50px auto;
  }

  div.container {
    margin: 50px 0;
  }

  .sec-design .input_text {
    width: 100%;
  }

  .sec-design .input_text_02 {
    width: 100%;
  }

}

@media(max-width:768px) {

  .sec-design div.container {
    margin: 50px 0;
    /* width: 60%; */
  }

  .sec-design {
    margin: 25px 0px;
    padding: 0;
  }

}

@media(max-width:576px) {

  .sec-design {
    margin: 20px auto;
  }

  div.container {
    margin: 25px 0;
  }
}

@media(max-width:480px) {}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.design-view .img_size {
  aspect-ratio: 1080 / 1920;
}

.design-view {
  height: 640px;
  width: 360px;
}

.design_edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pick-type-back {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: flex-start;
  width: 100%;
}

.pick-type-back>h1 {
  width: 80%;
  text-align: center;
}

.back-type {
  display: grid;
  place-items: center;
  background-color: black;
  border-radius: 10px;
  height: 40px;
  aspect-ratio: 1;
}

.d_grid {
  display: flex;
  flex-direction: column;
}

#update_button {
  margin: 0;
  width: min-content;
  background-color: #F0451F;
  color: white;
  padding: 0px 15px;
  border-radius: 9px;
  border: none;
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  gap: 10px;
  justify-items: center;
  font-family: 'Montserrat';
  font-weight: 500;
}

.update-button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.upload_file_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  overflow: hidden;
}

.upload_file_container h1 {
  line-clamp: 1;
  flex: 2;
}

.upload_file_container input {
  flex: 3;
  padding-top: 25px;
}

#image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

#profile-img-container {
  transition: all 300ms ease-in-out;
  width: 25%;
  height: 20%;
  border-radius: 50%;
  border: 5px solid #d4af46;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 3%;
}

#title {
  margin-top: 10%;
}

#profile-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.main-body {
  flex-grow: 1;
  top: 20%;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}

#absolute-container>* {
  position: absolute;
  text-wrap: nowrap;
}

input[type='file'], input[type='color'] {
  cursor: pointer;
}

.tab {
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
  width: 60px;
  height: 40px;
  display: grid;
  place-items: center;
  transition: all 200ms ease-in-out;
}

.tab:hover {
  background-color: rgb(241, 241, 241);
}

.tab:nth-child(2) {
  border-radius: 10px 0 0 10px;
}

#tab-container {
  gap: 0;
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 0 20px;
  align-items: center;
}

.tab.selected {
  border-color: #ee752c;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}

.translated-ltr {
  margin-top: -40px;
}

.translated-ltr {
  margin-top: -40px;
}

.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  visibility: hidden !important;
}

.goog-te-gadget {
  display: flex;
}

.goog-te-combo {
  background: transparent;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  margin: 0px 0 0px 15px !important;
  padding: 5px 3px;
  border-radius: 5px;
}

.darkTheme .goog-te-combo option {
  color: #000;
}

#goog-gt-tt {
  display: none !important;
}


@media (max-width: 767px) {
  .goog-te-gadget {
    display: flex;
    max-width: 150px;
  }
}

@media (max-width: 380px) {
  .goog-te-combo {
    font-size: 0.8rem !important;
  }
}

#google_element {
  display: none !important;
}

span {
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .typ-btns {
    flex-direction: column;
    justify-items: stretch;
    width: 100%;
    flex-wrap: nowrap;
    padding: 0;
  }

  .sec-lang {
    margin: 50px 40px;
  }

  .lang-btns, .typ-btns {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 700px) {
  .frame-container {
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 10px !important;
  }

  #tab-container {
    justify-content: start;
  }
}

.frame-container>* {
  flex-grow: 1;
}

.a-hover {
  background: #F0451F !important;
  color: #fff !important;
}

.upload_file.upload_file_container>h1 {
  text-wrap: nowrap;
  margin: 0;
}

#extra-names>:not(:first-child) {
  border-top: 1px solid #686868;
  position: relative;
}

#extra-names>:not(:first-child)> :nth-child(2) {
  padding-right: 40px;
}

#extra-names>* {
  padding: 5px 0;
}

.delete-container {
  position: absolute;
  right: 10px;
  background-color: white;
  height: 17px;
  display: grid;
  place-content: center;
  cursor: pointer;
  aspect-ratio: 1;
  padding: 5px;
  z-index: 5;
  background-color: red;
  border-radius: 5px;
  top: 30%;
}

#extra-names>.d_flex>.delete-container>img {
  pointer-events: none;
}